/* Write your CSS here */
/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  max-height: 100%;
  font-family: 'Bree Serif';
}

.logo-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ipl-logo {
  width: 35px;
  height: 55px;
  margin-right: 10px;
}

.logo-name {
  color: white;
  font-size: 35px;
}

.dash-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  list-style-type: none;
  padding: 0px;
}
