/* Write your CSS here */
/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
  font-family: 'Bree Serif';
  background-size: cover;
  padding: 40px;
}

.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.RR {
  background-image: linear-gradient(to bottom, #da237b, #0f172a);
}

.MI {
  background-image: linear-gradient(to bottom, #13418b, #0f172a);
}

.SH {
  background-image: linear-gradient(to bottom, #f26d22, #0f172a);
}

.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #0f172a);
}

.banner-img {
  width: 95%;
  height: 400px;
  margin-bottom: 20px;
}

.latest-name {
  color: white;
  font-size: 16px;
  align-self: flex-start;
  margin-left: 40px;
  font-weight: normal;
}

.recent-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
